body {

    font-family: Arial, sans-serif;

    background: #eef2ff;

    display: flex;
    justify-content: center;

    padding: 40px;
}


.container {

    background: white;

    width: 700px;

    padding: 25px;

    border-radius: 10px;

    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}


h1, h2 {

    text-align: center;

    color: #242425;
}


/* Inputs */

.inputBox {

    display: flex;
    justify-content: space-around;

    margin: 20px 0;
}

input, textarea {

    width: 45%;

    padding: 8px;

    border-radius: 5px;

    border: 1px solid #ccc;
}


/* Buttons */

.buttons {

    text-align: center;

    margin: 15px 0;
}

button {

    background: #2e2e2f;

    color: white;

    border: none;

    padding: 8px 15px;

    margin: 5px;

    border-radius: 5px;

    cursor: pointer;
}

button:hover {

    background: #202022;
}


/* Warning */

#warning {

    text-align: center;

    color: red;

    font-weight: bold;

    margin-bottom: 10px;
}


/* Log Area */

#logArea {

    background: #f5f7ff;

    height: 250px;

    overflow-y: auto;

    padding: 10px;

    border-radius: 5px;

    border: 1px solid #ccc;
}

.logItem {

    font-size: 14px;

    border-bottom: 1px solid #ddd;

    padding: 5px 0;
}