body {
    font-family: Arial;
    background-color: #f4f6f9;
    text-align: center;
}

h1 {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
}

.form-container {
    margin: 20px;
}

input {
    padding: 8px;
    margin: 5px;
    width: 150px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    background-color: #1e6e27;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #287a49;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background-color: white;
}

th {
    background-color: #34495e;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

.delete-btn {
    background-color: red;
}
