body {
    font-family: Arial;
    background: linear-gradient(to right, #222222, #272727);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    background: #1b9851;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #dcdce1;
}

.weather-box {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    background: #f1f9ff;
}

.loader {
    margin: 15px auto;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #4facfe;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
