body {
    font-family: Arial;
    background: linear-gradient(to right, #353536, #3b3c3c);
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    background: white;
    padding: 30px;
    width: 900px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form input, select {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.available {
    color: green;
    font-weight: bold;
}

.issued {
    color: red;
    font-weight: bold;
}

.success { color: green; font-weight: bold; }
.error { color: red; font-weight: bold; }
