body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    text-align: center;
}

h1 {
    background-color: #545357;
    color: white;
    padding: 15px;
}

.task-input {
    margin: 20px;
}

.task-input input {
    padding: 8px;
    width: 200px;
}

.task-input button {
    padding: 8px 15px;
    background-color: #545355;
    color: white;
    border: none;
    cursor: pointer;
}

.task-input button:hover {
    background-color: #2c00a0;
}

.board {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.column {
    width: 30%;
    min-height: 300px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.column h2 {
    background-color: #eee;
    padding: 8px;
}

.task {
    background-color: #dfe6fd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    cursor: grab;
}

.task.completed {
    background-color: #b6f2c2;
}

#message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
