* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(120deg, #343535, #323233);
    padding: 30px;
}

.cart-container {
    background: white;
    width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.product {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input, select, button {
    padding: 8px;
}

button {
    background: #060606;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0d0d0e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.coupon {
    margin-top: 15px;
}

#discountInfo {
    color: green;
    font-weight: bold;
}
