body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #373535, #343333);
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.container {
    background: white;
    width: 600px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#results {
    margin-top: 20px;
}

.product {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    border-left: 5px solid #232323;
}

.product h3 {
    margin: 0;
}

.product p {
    margin: 5px 0;
}

/* Loader */
.loader {
    margin: 15px auto;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #232424;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

.no-results {
    text-align: center;
    font-weight: bold;
    color: red;
}
